@using WebMatrix.Data;
@{
    /* Een error die je krijgt als je er 1 niet invult */
    Validation.RequireField("Naam", "You have to enter your name.");
    Validation.RequireField("Kado", "You have to enter a kado.");
    Validation.RequireField("Prio", "You have to enter a prio.");

    /* Variabelen */
    var naam = "";
    var kado = "";
    var prio = "";

    if (IsPost && Validation.IsValid())
    {
        naam = Request.Form["naam"];
        kado = Request.Form["kado"];
        prio = Request.Form["prio"];

        /* Opent connectie met Database */
        string connectionString = @"Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Basedata.mdf;Integrated Security=True";
        string provider = "System.Data.SqlClient";
        Database db = Database.OpenConnectionString(connectionString, provider);
        /* Nadata hij geconnect is dan add hij values in de kado table */
        var Insert = "INSERT INTO Kado (Naam, Kado, Prio) Values(@0, @1, @2)";
        db.Execute(Insert, naam, kado, prio);
        Response.Redirect("~/wishlist.cshtml");
    }
}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>Voeg een Kado toe</title>
</head>
<body>
	<!-- Render Navbar -->
	@RenderPage("~/Shared/_Navbar.cshtml")
	<h1>Voeg een Kado toe</h1>
	@Html.ValidationSummary()
	<form method="post">
        <fieldset>
            <legend>Kado Informatie</legend>
            <p>
                <label for="naam">Naam:</label>
                <input type="text" name="naam" value="@Request.Form["naam"]" />
                @Html.ValidationMessage("naam")
            </p>

            <p>
                <label for="Kado">Kado:</label>
                <input type="text" name="kado" value="@Request.Form["kado"]" />
                @Html.ValidationMessage("kado")
            </p>

            <p>
                <label for="Kado">Prio:</label>
                <input type="text" name="prio" value="@Request.Form["prio"]" />
                @Html.ValidationMessage("prio")
            </p>

            <p><input type="submit" name="buttonSubmit" value="Voeg Kado toe" /></p>
        </fieldset>
	</form>
</body>
</html>