@using WebMatrix.Data;
@{
    /* Een error die je krijgt als je er 1 niet invult */
    Validation.RequireField("Naam", "You have to enter your name.");
    Validation.RequireField("Kado", "You have to enter a kado.");
    Validation.RequireField("Prio", "You have to enter a prio.");

    /* Variabelen */
    var naam = "";
    var kado = "";
    var prio = "";

    if (IsPost && Validation.IsValid())
    {
        naam = Request.Form["naam"];
        kado = Request.Form["kado"];
        prio = Request.Form["prio"];

        /* Opent connectie met Database */
        string connectionString = @"Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Basedata.mdf;Integrated Security=True";
        string provider = "System.Data.SqlClient";
        Database db = Database.OpenConnectionString(connectionString, provider);
        /* Nadata hij geconnect is dan add hij values in de kado table */
        var Insert = "INSERT INTO Kado (Naam, Kado, Prio) Values(@0, @1, @2)";
        db.Execute(Insert, naam, kado, prio);
        Response.Redirect("~/wishlist.cshtml");
    }
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <style>
        fieldset.scheduler-border {
            border: 1px groove #ddd !important;
            padding: 0 1.4em 1.4em 1.4em !important;
            margin: 0 0 1.5em 0 !important;
            -webkit-box-shadow: 0px 0px 0px 0px #000;
            box-shadow: 0px 0px 0px 0px #000;
            text-align: center;
        }

        legend.scheduler-border {
            font-size: 1.2em !important;
            font-weight: bold !important;
            text-align: left !important;
            width: inherit;
            padding: 0 10px;
            border-bottom: none;
            text-align: center;
        }

        .textcenter {
            text-align: center;
        }
    </style>
    <title>Voeg een Kado toe</title>
</head>
<body>
	<!-- Render Navbar -->
	@RenderPage("~/Shared/_Navbar.cshtml")
	<h1 class="textcenter" style="margin-top: 40px;">Voeg een Kado toe</h1>
	@Html.ValidationSummary()
    <form method="post">
        <fieldset class="scheduler-border">
            <legend align="center" class="scheduler-border" style="text-align: center;">Kado Informatie</legend>
            <p>
                <label for="naam">Naam:</label>
                <input type="text" name="naam" value="@Request.Form["naam"]" />
                @Html.ValidationMessage("naam")
            </p>

            <p>
                <label for="Kado">Kado:</label>
                <input type="text" name="kado" value="@Request.Form["kado"]" />
                @Html.ValidationMessage("kado")
            </p>

            <p>
                <label for="Kado">Prio:</label>
                <input type="text" name="prio" value="@Request.Form["prio"]" />
                @Html.ValidationMessage("prio")
            </p>

            <p><input type="submit" name="buttonSubmit" value="Voeg Kado toe" /></p>
        </fieldset>
    </form>
</body>
</html>